@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px "Century Gothic", sans-serif;
  margin: 20px;
  background-color: #292a42;
}

ol, ul {
  padding-left: 30px;
}

.node-container {
  margin: 10px;
}

.node-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.node {
  background: #ffffff;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  height: 60px;
}

.node:focus {
  outline: none;
}

.kbd-navigation .node:focus {
  background: #ddd;
}

.node-link {
  background: #add8e6;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.node-link:focus {
  outline: none;
}
.node-container{
  border: 5px solid rgba(0, 0, 0, 0.808);
}

.kbd-navigation .node-link:focus {
  background: #ddd;
}

.chargeStation {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  padding: 0;
  text-align: center;
  width: 136px;
  margin-top:25px;
  margin-bottom: 25px;
  border: 5px solid black;
}

.chargeStation:focus {
  outline: none;
}

.kbd-navigation .chargeStation:focus {
  background: #ddd;
}

.auto {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.auto:focus {
  outline: none;
}

.kbd-navigation .auto:focus {
  background: #ddd;
}

.game-container {
  padding: auto;
}

.autoContainer {
  position: absolute;
  z-index: 1000;
  margin-left: 250px;
  float: left;
}

.field {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.Community{
  font-size: 19px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.Community form{
  display: flex;
  flex-direction: column;
}
.Community legend{
  background-color: rgb(146, 128, 128);
  border-radius: 5px;
  margin-bottom:5px;
  border:4px black solid;
}
.Community textarea{
  color:white;
  font-weight: 700;
  background: rgb(62,62,68);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(112,112,120,1) 0%, rgba(21,22,22,1) 100%); 
}
.Community form button{
  border: 5px solid black;
  font: 14px "Century Gothic", sans-serif;
  font-weight: 700;
  height:35px;
  margin-top:5px;

}
.grid-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.toggleMiss{
  border: 5px solid black;
  font: 14px "Century Gothic", sans-serif;
  font-weight: 700;
  height:35px;
}
/* .autoContainer{
  visibility: hidden;
}  */
/* .chargeStation{
  visibility: hidden;

}  */
