@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px "Century Gothic", sans-serif;
  margin: 20px;
  background-color: #292a42;
}

ol, ul {
  padding-left: 30px;
}

.node-container {
  margin: 10px;
}

.node-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.node {
  background: #ffffff;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  height: 60px;
}

.node:focus {
  outline: none;
}

.kbd-navigation .node:focus {
  background: #ddd;
}

.node-link {
  background: #add8e6;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.node-link:focus {
  outline: none;
}
.node-container{
  border: 5px solid rgba(0, 0, 0, 0.808);
}

.kbd-navigation .node-link:focus {
  background: #ddd;
}

.chargeStation {
  height: 68px;
  padding: 0;
  text-align: center;
  width: 136px;
  margin-top:25px;
  margin-bottom: 25px;
  background-color: rgba(193, 187, 187, 0.169);
  width:200px;
  height:200px;
  outline-color: black;
  border:5px solid black;
  font-size: 25px;
  color: white;
}

.chargeStation:focus {
  outline: none;
}

.kbd-navigation .chargeStation:focus {
  background: #ddd;
}

.autoOn {
  background: #98b69d;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -50px;
  padding: 0;
  text-align: center;
  width: 150px;
  border-radius: 100px;
  border: solid darkgreen 6px;

}
.App button{
  border: 5px solid black;
  font: 14px "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 32px;
  height:100px;
  width: 200px;
  margin-top:5px;
  border-radius: 800px;
}
.autoOff{
  background: #b69898;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -50px;
  padding: 0;
  text-align: center;
  width: 150px;
  border-radius: 100px;
  border: solid darkred 6px;
}

.auto:focus {
  outline: none;
}

.kbd-navigation .auto:focus {
  background: #ddd;
}

.game-container {
  padding: auto;
}

.autoContainer {
  position: fixed;
  z-index: 1000;
  float: left;
}

.field {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.Community{
  font-size: 19px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.Community form{
  display: flex;
  flex-direction: column;
}
.Community legend{
  background-color: rgb(146, 128, 128);
  border-radius: 5px;
  margin-bottom:5px;
  border:4px black solid;
  display:flex;
  justify-content: center;
}
.Community textarea{
  color:white;
  font-weight: 700;
  background: rgb(39, 39, 47);
}
.Community form button{
  border: 5px solid black;
  font: 14px "Century Gothic", sans-serif;
  font-weight: 700;
  height:35px;
  margin-top:5px;

}
.grid-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.toggleMiss{
  border: 5px solid black;
  font: 14px "Century Gothic", sans-serif;
  font-weight: 700;
  height:35px;
}

.formBackground{
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(20, 18, 18, 0.945);
  width:500px;
  height:800px;
  opacity: 100%;
  border-radius: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}
.formHeader{
  width:500px;
  border-radius: 0px 50px 0px 0px;
  background-color: rgba(0, 0, 0, 0.904);
}
.formBody{
  margin-top:100px;
  color:white;
  width:185px;
}
.formBody label{
  font-weight: 900;
  font-size: 18px;
  line-height: 50px;
}
.formBody input{
  background-color: white;
  height:30px;
  border-radius: 5px;
  border: none;
}
.formBody select{
  background-color: white;
  border: none;
  border-radius: 5px;
}
.formBackground button{
  margin-top:75px;
  border-radius: 10px;
  border-color: white;
  height:50px;
  width:100px;
  font-weight: 900;
  font-size: 20px;
}

.vis{
  visibility: visible;
}
.hid{
  visibility: hidden;
}


.chargeStation img{
  margin-left:-8px;
} 
.scoreContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.scoreDisplay{
  background-color: rgb(31, 31, 31);
  border: black 5px solid;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 50px;
  height:50px;
  color:darkturquoise;
}
.chargeStation-box legend{
  background-color: rgb(31, 31, 31);
  color:aliceblue;
  font-weight: 800;
}